In [11]:
import pandas as pd
import numpy as np

In [12]:
dataFrame = pd.read_csv('drugsComTest_raw.csv')
dataFrame.head()

,uniqueID,drugName,condition,review,rating,date,usefulCount
0,163740,Mirtazapine,Depression,"""I&#039;ve tried a few antidepressants over th...",10,28-Feb-12,22
1,206473,Mesalamine,"Crohn's Disease, Maintenance","""My son has Crohn&#039;s disease and has done ...",8,17-May-09,17
2,159672,Bactrim,Urinary Tract Infection,"""Quick reduction of symptoms""",9,29-Sep-17,3
3,39293,Contrave,Weight Loss,"""Contrave combines drugs that were used for al...",9,5-Mar-17,35
4,97768,Cyclafem 1 / 35,Birth Control,"""I have been on this birth control for one cyc...",9,22-Oct-15,4

Menampilkan jumlah record, nama atribut,  jumlah attribute dengan tipe objek, jumlah attribute dengan tipe angka, jumlah attribute yang memiliki nilai null. kemudian di tampung di dictionary

In [13]:
jumlah = len(dataFrame)
attribut = dataFrame.columns
objek = len(dataFrame.select_dtypes(include=['object']).columns)
float = len(dataFrame.select_dtypes(include=['float64']).columns)
angka = len(dataFrame.select_dtypes(include=['int64']).columns)
null  = len(dataFrame.columns[dataFrame.isna().sum() > 0])

dictionaryData = {
    "Jumlah Record      ": jumlah,
    "Nama Attribut   ": attribut,
    "Jumlah Attribut ": objek,
    "Jumlah Float    ": float,
    "Jumlah Angka    ": angka,
    "Jumlah Null     ": null,
}

Menampilkan Isi Dictionary

In [14]:
pd.Series(dictionaryData)

Jumlah Record                                                      53766
Nama Attribut          Index(['uniqueID', 'drugName', 'condition', 'r...
Jumlah Attribut                                                        4
Jumlah Float                                                           0
Jumlah Angka                                                           3
Jumlah Null                                                            1
dtype: object

Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.

In [16]:
dataFrame.describe()

            uniqueID        rating   usefulCount
count   53766.000000  53766.000000  53766.000000
mean   116386.701187      6.976900     27.989752
std     67017.739881      3.285207     36.172833
min         0.000000      1.000000      0.000000
25%     58272.500000      4.000000      6.000000
50%    116248.500000      8.000000     16.000000
75%    174586.750000     10.000000     36.000000
max    232284.000000     10.000000    949.000000

Merubah nilai salah satu attribute bertipe angka menjadi desimal 3 angka dibelakang koma

In [20]:
pd.options.display.float_format = '{:.3f}'.format
dataFrame['rating'].astype('float64').head(10)

0   10.000
1    8.000
2    9.000
3    9.000
4    9.000
5    4.000
6    6.000
7    9.000
8    7.000
9    2.000
Name: rating, dtype: float64

Menampilkan Nilai Korelasi

In [37]:
dataFrame.select_dtypes(include=['int64']).corr()

             uniqueID  rating  usefulCount
uniqueID        1.000   0.020        0.021
rating          0.020   1.000        0.237
usefulCount     0.021   0.237        1.000

Tampilkan 10 record pertama dari attribute bertipe angka.

In [29]:
dataFrame[['uniqueID', 'rating', 'usefulCount']].head(10)

   uniqueID  rating  usefulCount
0    163740      10           22
1    206473       8           17
2    159672       9            3
3     39293       9           35
4     97768       9            4
5    208087       4           13
6    215892       6            1
7    169852       9           32
8     23295       7           21
9     71428       2            3

Menyimpan Dataset dengan attribute bertipe angka ke dalam file CSV

Data tersimpan

In [32]:
dataFrame[['uniqueID', 'rating', 'usefulCount']].to_csv('Data Bertipe Angka.csv', index=False)